
body {
  background: #ccc;
}
*#row1, *#row2, *#row3, *#row4 {
  display:flex;
  background-color: #ffc;
  position: relative;
  top: 50px;
  left: 50px;

}
h2 {

  clear: both;
  display: block;
}
img{
  width:auto;
  height: auto;
}
