body {
  background: #ccc;
}
#container1 {
  float:left;
}
*#row1, *#row2, *#row3, *#row4 {

  display: flex;
  background-color: #ffc;
  position: relative;
  top: 50px;
  left: 50px;
}

#container2 {
  clear:both;
  float: left;
}

img {
  width: auto;
  height: auto;
}
.imageHide{
  display:none;
  
}
