$main-font: 'Montserrat', sans-serif;
$main-fontColor: #555;
$font-sizepandh2: 1em; // * {border: solid red 2px;}

body {
  background: #ccc;
}

h1 {
  margin: auto;
  font-family: $main-font;
  font-weight: 900px;
  color: $main-fontColor;
}

h2 {
  text-indent: 40px;
  font-family: $main-font;
  font-size: $font-sizepandh2;
  font-weight: 400px;
  color: $main-fontColor;
}

.messagesText,
p {
  font-family: arial, sans-serif;
  font-size: $font-sizepandh2;
}

img {
  width: auto;
  height: auto;
}

.imageHide {
  display: none;
}

#outer_container {
  display: flex;
}

#container2 {
  padding: 1em;
}

*#row1,
*#row2,
*#row3,
*#row4 {
  display: flex;
  flex-direction: row;
}

[id^=box] {
  padding: 0.5em;
}

.test {
  border: 2px solid #f00;
}

.buttonsAndPNames {
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  margin: 0 auto;
}

button,
input {
  border-radius: 25px;
  padding: 1em;
}

input {
  border: 5px solid #ddd;
}

button {
  border: 5px solid #ddd;
  background-color: #eee;
  font-weight: 800;
  outline: none;
  width: 100px;
}

#messages {
  border-radius: 25px;
  display: block;
  animation: blinker 1s cubic-bezier(0, 0.92, 0.26, 1.32) infinite;
  background-color: #ffc;
  border: 2em;
  padding: 0 1em;
  margin: 1em;
  width: fit-content;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
// to help with design - delete before deploy!

#container1,
#container2 {
  // border: 0.2em solid #f00;
}
/*responsive - phone*/
@media screen and (max-width: 700px) {
  #outer_container {
    flex-direction: column;
  }

  #container1 {
    order: 2;
  }

  #container1 {
    order: 1;
  }
}
/*responsive - laptop*/
@media screen and (min-width: 700px) {
  #outer_container {
    flex-direction: row;
  }
}
