body {
  background: #ccc;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900px;
}
img {
  width: auto;
  height: auto;
}

.imageHide {
  display: none;
}

#outer_container {
  display: flex;
}

#container2 {
  padding: 1em;
}

*#row1,
*#row2,
*#row3,
*#row4 {
  display: flex;
  flex-direction: row;
}
[id^=box]{
  padding: 0.5em;
}

.test {
  border: 2px solid #f00;
}

#messages {
  border: 0.5px solid #000;
  display: block;
  animation: blinker 1s cubic-bezier(0, 0.92, 0.26, 1.32) infinite;
  background-color: #ffc;
  border: 2em;
  padding: 0em 1em;
  margin: 1em;
  width: fit-content;
}

input {}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
// to help with design - delete before deploy!

#container1,
#container2 {
  border: 0.2em solid #ccc;
}
/*responsive - phone*/
@media screen and (max-width: 700px) {
  #outer_container {
    flex-direction: column;
  }

  #container1 {
    order: 2;
  }

  #container1 {
    order: 1;
  }
}
/*responsive - laptop*/
@media screen and (min-width: 700px) {
  #outer_container {
    flex-direction: row;
  }
}
