body {
  background: #ccc;
}
#outer_container{
    display: flex;
}
#container2{
    padding: 1em;
}
*#row1, *#row2, *#row3, *#row4 {
  display: flex;
  flex-direction: row;
}
img {
  width: auto;
  height: auto;
}
.imageHide{
  display:none;
}
.test{
  border: 2px solid red;
}

// to help with design - delete before deploy!
#container1, #container2{
    border: 0.2em solid darkgray;
}

/*responsive - phone*/
@media screen and (max-width: 700px){
    #outer_container{
        flex-direction: column;
    }
    #container1{
        order:2
    }
    #container1{
        order:1
    }
}

/*responsive - laptop*/
@media and (min-width: 700px){
    #outer_container{
        flex-direction: row;
    }
}
